.git
.github
.superwork
.artifacts
.cache
.data
.idea
.local
.pnpm-store
.vite
.vscode
coverage
dist
Dockerfile*
node_modules
desktop
playwright-report
test-results
compose*.yaml
*.log
*.sqlite*
*.tgz
